{% extends "home.html" %} {% block title %}Saturn{% endblock %} {% block content
    %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url('https://www.transparenttextures.com/patterns/stardust.png'), #000 !important;
            color: #ffffff !important;
            text-align: center;
        }
        img {
            width: 100%;
            max-width: 500px;
            border: 2px solid white;
            border-radius: 10px;
        }
    </style>

    <h1>Saturn</h1>

    <p>Saturn is the sixth planet from the Sun and the second largest in the Solar System, after Jupiter. 
    It is a gas giant, with an average radius of about nine times that of Earth. 
    It has an eighth the average density of Earth, but is over 95 times more massive.
    Even though Saturn is almost as big as Jupiter, Saturn has less than a third its mass. 
    Saturn orbits the Sun at a distance of 9.59 AU (1,434 million km), with an orbital period of 29.45 years.</p>

    <img src="static/satsat.png" alt="sun">

    <footer>
        <p>&copy; 2025 </p>
    </footer>
    {% endblock %}