{% extends "home.html" %} {% block title %}Sun{% endblock %} {% block content
    %}
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: url('https://www.transparenttextures.com/patterns/stardust.png'), #000 !important;
        color: #ffffff !important;
        text-align: center;
    }
    img {
        width: 100%;
        max-width: 500px;
        border: 2px solid white;
        border-radius: 10px;
    }
    </style>
    <h1>The sun</h1>

    <p>The Sun is the star at the centre of the Solar System. 
    It is a massive, nearly perfect sphere of hot plasma, heated to incandescence by nuclear fusion reactions in its core, radiating the energy from its surface mainly as visible light and infrared radiation with 10% at ultraviolet energies. 
    It is by far the most important source of energy for life on Earth. 
    The Sun has been an object of veneration in many cultures. 
    It has been a central subject for astronomical research since antiquity.
    </p>

    <img src="static/sunshine.png" alt="sun">

    <footer>
        <p>&copy; 2025 </p>
    </footer>
    {% endblock %}
